@model IEnumerable<Jobsity.Models.Message>
@{
    ViewBag.Title = "Chat room";
    var userName = Session["user"];
}
<div class="container body-content">
    <div id="msg-list">
        @foreach (var msg in Model)
        {
            @Html.Partial("~/Views/Shared/_MessagePartial.cshtml", msg);
        }
    </div>
</div>



<footer class="msg-input">
    <div class="row" style="margin-right: 0;">
        @using (Ajax.BeginForm("NewMessage", "Chat", new AjaxOptions { HttpMethod = "POST" }))
        {
            <div class="col-xs-10">
                <input class="form-control input-lg" name="msg" id="msg-input" placeholder="Write message here" required />
            </div>
            <div class="col-xs-2">
                <button class="btn btn-default btn-lg" type="submit" style="width: 100%">Send</button>
            </div>
        }
    </div>
</footer>