@model Jobsity.Models.Message

<div>
    <h4>@Model.User.Username</h4>
    <p>
        @Model.Message1
        <br />
        <small class="text-muted">@Model.TimeSent.ToString("")</small>
    </p>
</div>
